:root {
  --main-bg-color: rgb(48, 51, 58);
}

body {
    width: 250px;
    display: flex;
    flex-direction: column;
    font-size: large;
    background-color: var(--main-bg-color);
    color: white;
}

div.heading {
  display: flex;
  align-items: center;
}

img.logo {
  height: 2rem;
  margin-right: 0.5rem;
}

h3 {
    margin-top: 0px;
    margin-bottom: 0.5rem;
}

div.download-option {
    margin: .5rem;
    display: flex;
    align-items: center;
}

.download-btn {
    color: black;
    text-decoration: none;
    margin-right: 0.5rem;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    background-color: white;
    border-color: white;
    cursor: pointer;
}

.download-btn:hover {
    background-color: var(--main-bg-color);
    color: white;
}

div#loading-indicator {
    align-self: center;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  a.shameless-plug {
    color: white;
  }